.venv
.venv-1
__pycache__
*.pyc
*.pyo
.env
.git
.gitignore
.vscode
.idea
.DS_Store
Thumbs.db
server.log
server_err.log
server_out.txt
server_err.txt
tests/
*.md
render.yaml
Jenkinsfile
.email_extension/
github/
slack/
servicenow/
